
<div class="project-cover" ng-style="{background: '#fff url( {{ project.image }} ) no-repeat center center fixed'}"></div>

<div class="container">
    <md-content style="margin-top: -50px;">
        <md-card>
            <md-card-content>
                <h2 class="projectTitle">{{ project.name }}</h2>
                <div style=" text-align: left; padding: 10px;">
                    <p>{{ project.description }}</p>
                    <p><a ng-href="{{ project.repository }}">{{ project.repository }}</a></p>
                    <p><strong>Codul sursa: </strong><a href="{{ project.demo }}">Demo URL</a></p>
                    <section layout="row" style="margin-top: 15px; margin-bottom: 10px;">
                        <div flex><strong>Licența:</strong> {{ project.license }}</div>
                        <div flex><strong>Autor:</strong> {{ project.idea.firstName }} {{ project.idea.lastName }}</div>
                        <div flex><strong>Status:</strong> {{ project.status }}</div>
                    </section>
                    <!--<h3>Echipa:</h3>-->
                    <div class="md-whiteframe-z2 userCard" ng-repeat="member in project.team">
                        <img src="style/images/icon.png" alt="" class="userIcon"/>
                        Nume: {{ member.firstName }} {{ member.lastName }}<br/>
                        Rol: {{ member.role }}<br/>
                        Mail: {{ member.email }}
                    </div>
                </div>
                <section layout="row" layout-align="right center">
                    <md-button class="md-raised md-warn" ng-click="showConfirm($event)">Șterge</md-button>
                </section>
            </md-card-content>
        </md-card>
    </md-content>
</div>