
<div class="container">
    <md-grid-list
            md-cols="2"
            md-row-height="200px"
            md-gutter="12x"
            md-gutter-gt-sm="20px"
            style="text-align: left;">

        <md-grid-tile ng-repeat="(key, project) in projects" md-rowspan="2" class="gridTile">

            <div style="padding: 10px;">
                <a href="#/project/{{ key }}">
                    <img ng-src="{{ project.image }}"
                         alt="{{ project.name }}"
                         class="projectImage">
                </a>
                <h2>{{ project.name }}</h2>
                <p>{{ project.description }}<br/>
                <strong>Idee:</strong> {{ project.idea.firstName }} {{ project.idea.lastName }}</p>
            </div>
    </md-grid-list>

    <md-button class="md-fab addProject" ng-click="add()" aria-label="">
        <span class="fa fa-plus"></span>
    </md-button>
</div>