
<div class="container">
    <md-grid-list
            md-cols="2"
            md-row-height="200px"
            md-gutter="12x"
            md-gutter-gt-sm="20px"
            style="text-align: left;">

        <md-grid-tile ng-repeat="project in projects" md-rowspan="2"
                      style="box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); background-color: #ffffff;">

            <div>
                <a href="#/project/{{ project.id }}">
                    <img ng-src="{{ project.image }}" alt="" style="width: 300px;">
                </a>
                <h2>{{ project.name }}</h2>
                <p>{{ project.description }}</p>
                <!--<p><a ng-href="{{ project.repository }}">{{ project.repository }}</a></p>-->
                <!--<p><a href="{{ project.demo }}">Demo URL</a></p>-->
                <!--<p>Licența: {{ project.license }}</p>-->
                <p>Autor: {{ project.author }}</p>
                <!--<p>Status: {{ project.status }}</p>-->
            </div>
    </md-grid-list>

    <md-button class="md-fab" class="addbutton" style="position: fixed; right: 30px; bottom: 30px;" ng-click="add()">
        <span class="fa fa-plus"></span>
    </md-button>
</div>