html, body {
    background: #eee
}

.main {
    text-align: center;
}
.container {
    padding: 5px;
    max-width: 920px;
    margin: auto;
}

.addButton {
    margin: 5px;
    padding: 5px;
}

.addProject {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.projectImage {
    width: 300px;
    max-height: 190px;
}

.gridTile {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
}

.projectTitle {
    background-color: #ffee58;
    margin-top: -20px;
    padding: 10px;
}

/*------------------user page---------------*/
.project-cover {
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fff;
    margin-top: -10px;
}

.userCard {
    margin: 20px;
    width: 200px;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

.userIcon {
    width: 150px;
}